body {
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    background-color: #1e1f26;
}

.navbar .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

#about {
    margin-top: 6.6rem;
}

#about .icon {
    color: #f5f7fa;
}

#education .card {
    background-color: #1e1f26;
    border-radius: 3;
}

.img-icon {
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.dropbtn {
  color:  #f5f7fa;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.hi{
    background-color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #000000;}
.rect1{
    height: 5vh;
    width: 100%;
    text-align: center;
background-color: white;
}
  .typewriter {
  padding:5px 5px;
  font-size:25px;
  font-family:moontime;
  border-radius:50px;
}
.typewriter p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 10s steps(22,end) forwards,
            blink 1s infinite;
}
@keyframes typing {
  0% { width:50% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}
.containerss {
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.containerss img {
  width: 100%;
  height: auto;

}

.containerss .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerss .btn:hover {
  background-color: black;
}
.ss{
   margin-left: auto;
    margin-right: auto;
    width: 25em
}
